.container {
  background-color: #d5f4f3;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 10vmin;
  text-align: center;
  color: #459492;
}

.cakeContainer {
  max-width: 500px;
  padding: 40px;
}

.button {
  background-color: #ffd102;
  border: 2px solid #ff9955;
  border-radius: 9px;
  font-size: 20px;
  font-family: var(--fontOption1);
  font-weight: bold;
  color: #ad4a38;
  padding: 10px 18px;
}
